.wrapper{
//width:440px;
line-height:75%;
}
.container {
    height: 15px;
    width: 15px;
    background-color: white;
    display: inline-block;
    border:1px black solid;
	
    
    
}
h1{
  text-align:center;
  color:white;
  background-color:black;
  text-transform:capitalize;
}
